# Titanic: Machine Learning from Disaster

# Definição do Escopo

* Realizar o processo de Data Munging no dataset do tytanic;
* Gerar arquivos CSVs para o próximos projeto para aplicar os algoritmos machine learning;
* Os arquivos devem passar pelo processo de:
    * Análise Exploratória de Dados;
    * Análise Estatística de Dados;
    * Pré-Processamento;

# Objetivo

Gerar dataset(csv) limpo e formatado para aplicar no projeto algoritmos de ML para prever: 
* Que tipos de pessoas provavelmente sobreviveriam?

# Funções

In [1]:
def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

# Coleta de dados

https://www.kaggle.com/c/titanic/data

<b>PassengerId</b> = Passageiro ID<br>
<b>Survived</b> = Sobreviventes<br>
<b>Pclass</b> = Classe do Ingresso<br>
<b>Name</b> = Nome<br>
<b>Sex</b> = Sexo<br>
<b>Age</b> = Idade<br>
<b>SibSp</b> = Parentes Irmão/Irmã/Marido/Esposa<br>
<b>Parch</b> = Parentes Mãe/Pai/Filhos/Enteado<br>
<b>Ticket</b> = Passagem Número<br>
<b>Fare</b> = Passagem Preço<br>
<b>Cabin</b> = Cabine<br>
<b>Embarked</b> = Porto de Embarque(C = Cherbourg; Q = Queenstown; S = Southampton)<br>

## Fontes

In [2]:
### Importando as libs
import pandas as pd
import numpy as np

In [3]:
### Coletando as fontes de dados
train_csv = pd.read_csv('train.csv', sep = ',', encoding = 'UTF-8')
test_csv = pd.read_csv('test.csv', sep = ',', encoding = 'UTF-8')

## Validação - Importação dos dados

In [4]:
test_csv.head(2)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [5]:
train_csv.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

## Renomeando - Colunas

In [6]:
### Colunas de Teste
test=test_csv.copy()
colunasTeste=['PassageiroId','Classe','Nome','Sexo','Idade','ParentesIrmao','ParentesFilhos',
              'PassagemNumero','PassagemPreco','Cabine','PortoEmbarque']
test.columns=colunasTeste

In [7]:
### Colunas de Treino
train=train_csv.copy()
colunasTreino = colunasTeste[:]
colunasTreino.insert(1,'Sobreviventes')
train.columns=colunasTreino

## Validação - Renomeação das colunas

In [8]:
test.head(2)

,PassageiroId,Classe,Nome,Sexo,Idade,ParentesIrmao,ParentesFilhos,PassagemNumero,PassagemPreco,Cabine,PortoEmbarque
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [9]:
train.head(2)

,PassageiroId,Sobreviventes,Classe,Nome,Sexo,Idade,ParentesIrmao,ParentesFilhos,PassagemNumero,PassagemPreco,Cabine,PortoEmbarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

## Join Metadados

In [10]:
### União do Treino e Teste 
frames = [train[colunasTeste], test]
join = pd.concat(frames)

## Coleta de dados - Conclusão

<b>Dados de treino:</b> Possuí informações dos sobreviventes, então podemos utilizar algoritmos machine learning supervisionado.
<br>
<b>Dados de teste:</b> As previsões dos dados de teste deve ser enviado para o Kaggle, conforme o modelo: gender_submission.csv
<br>
<b>Join Metadados:</b> A união dos datasets de treino e teste vai ajudar no processo de análise exploratória dos dados.
<br>
<b>Join Metadados:</b> Foi excluído a coluna sobreviventes.

# Análise Exploratória de Dados

## Visualizar - 1ª Linhas

In [11]:
### Treino
train.head(20)

,PassageiroId,Sobreviventes,Classe,Nome,Sexo,Idade,ParentesIrmao,ParentesFilhos,PassagemNumero,PassagemPreco,Cabine,PortoEmbarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [12]:
### Teste
test.head(20)

,PassageiroId,Classe,Nome,Sexo,Idade,ParentesIrmao,ParentesFilhos,PassagemNumero,PassagemPreco,Cabine,PortoEmbarque
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C

## Quais as dimensões do dataset?

In [13]:
### Treino
train.shape

(891, 12)

In [14]:
### Teste
test.shape

(418, 11)

In [15]:
### JOIN
join.shape

(1309, 11)

<b>Dados de treino:</b> A quantidade de dados de treino aparentemente não é suficiente para ter um modelo com alta precisão.
<br>

## Quais são os tipos das colunas?

In [16]:
### Treino
train.dtypes

PassageiroId        int64
Sobreviventes       int64
Classe              int64
Nome               object
Sexo               object
Idade             float64
ParentesIrmao       int64
ParentesFilhos      int64
PassagemNumero     object
PassagemPreco     float64
Cabine             object
PortoEmbarque      object
dtype: object

In [17]:
### Teste
test.dtypes

PassageiroId        int64
Classe              int64
Nome               object
Sexo               object
Idade             float64
ParentesIrmao       int64
ParentesFilhos      int64
PassagemNumero     object
PassagemPreco     float64
Cabine             object
PortoEmbarque      object
dtype: object

In [18]:
### Join
join.dtypes

PassageiroId        int64
Classe              int64
Nome               object
Sexo               object
Idade             float64
ParentesIrmao       int64
ParentesFilhos      int64
PassagemNumero     object
PassagemPreco     float64
Cabine             object
PortoEmbarque      object
dtype: object

## Quais as colunas que tem valores nulos?

In [19]:
### Treino
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassageiroId      891 non-null int64
Sobreviventes     891 non-null int64
Classe            891 non-null int64
Nome              891 non-null object
Sexo              891 non-null object
Idade             714 non-null float64
ParentesIrmao     891 non-null int64
ParentesFilhos    891 non-null int64
PassagemNumero    891 non-null object
PassagemPreco     891 non-null float64
Cabine            204 non-null object
PortoEmbarque     889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [20]:
### Teste
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassageiroId      418 non-null int64
Classe            418 non-null int64
Nome              418 non-null object
Sexo              418 non-null object
Idade             332 non-null float64
ParentesIrmao     418 non-null int64
ParentesFilhos    418 non-null int64
PassagemNumero    418 non-null object
PassagemPreco     417 non-null float64
Cabine            91 non-null object
PortoEmbarque     418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [21]:
### Join
join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 11 columns):
PassageiroId      1309 non-null int64
Classe            1309 non-null int64
Nome              1309 non-null object
Sexo              1309 non-null object
Idade             1046 non-null float64
ParentesIrmao     1309 non-null int64
ParentesFilhos    1309 non-null int64
PassagemNumero    1309 non-null object
PassagemPreco     1308 non-null float64
Cabine            295 non-null object
PortoEmbarque     1307 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 122.7+ KB

## Quais total de valores nulos por coluna?

In [22]:
### Treino
train.isnull().sum()

PassageiroId        0
Sobreviventes       0
Classe              0
Nome                0
Sexo                0
Idade             177
ParentesIrmao       0
ParentesFilhos      0
PassagemNumero      0
PassagemPreco       0
Cabine            687
PortoEmbarque       2
dtype: int64

In [23]:
### Teste
test.isnull().sum()

PassageiroId        0
Classe              0
Nome                0
Sexo                0
Idade              86
ParentesIrmao       0
ParentesFilhos      0
PassagemNumero      0
PassagemPreco       1
Cabine            327
PortoEmbarque       0
dtype: int64

In [24]:
### Join
join.isnull().sum()

PassageiroId         0
Classe               0
Nome                 0
Sexo                 0
Idade              263
ParentesIrmao        0
ParentesFilhos       0
PassagemNumero       0
PassagemPreco        1
Cabine            1014
PortoEmbarque        2
dtype: int64

## Sumário Estatístico

Resumo estatístico do DataFrame, com quartis, mediana, etc

<ul>
<li>count = quantidade de registros não nulo</li>
<li>mean = média aritmética</li>
<li>std = desvio padrão</li>
<li>min = minímo valor</li>
<li>25% = Primeiro Quartil</li>
<li>50% = Segundo Quartil = Mediana</li>
<li>75% = Terceiro Quartil</li>
<li>max = maior valor</li>
</ul>

### Dados - Brutos

In [25]:
### Treino 
train.describe()

,PassageiroId,Sobreviventes,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [26]:
### Teste
test.describe()

,PassageiroId,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [27]:
### Join
join.describe()

,PassageiroId,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200

### Sumário Estatístico(Dados Brutos) - Conclusão

* **PassageiroId:** 
    * Treino: Desconsiderar os valores relacionados a coluna.
    * Teste:  Desconsiderar os valores relacionados a coluna.
    * União:  Desconsiderar os valores relacionados a coluna.
* **Sobreviventes:** 
    * Treino: Aproximadamente 38% sobreviveu - mean 0.383838
* **Classe:** 
    * A mediana é a melhor representação da Classe.(50% do Quartil);  
    * Corresponde a 3ª classe como maioria nos dados de treino e test.
    * A mediana é a melhor representação da Classe;     
* **Idade:** 
* **ParentesIrmao:**
* **ParentesFilhos:** 
* **PassagemPreco:**

### É possível trabalhar com dataset removendo os valores nulos?

In [28]:
join.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 270 entries, 1 to 414
Data columns (total 11 columns):
PassageiroId      270 non-null int64
Classe            270 non-null int64
Nome              270 non-null object
Sexo              270 non-null object
Idade             270 non-null float64
ParentesIrmao     270 non-null int64
ParentesFilhos    270 non-null int64
PassagemNumero    270 non-null object
PassagemPreco     270 non-null float64
Cabine            270 non-null object
PortoEmbarque     270 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 25.3+ KB

#### Conclusão
* Se remover todas as colunas com valores nulos fica inviável trabalhar com dataset;
* A coluna Cabine existe vários valores nulos;

### Dados - Sem nulos

In [29]:
colunasSemCabine = colunasTeste[:]
colunasSemCabine.remove('Cabine')

In [30]:
#Valor total - bruto: 891
#Valor total - Sem Nulos: 712
train_dropna=train.dropna(subset=colunasSemCabine)
train_dropna.describe()

,PassageiroId,Sobreviventes,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.642093,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.492933,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

In [31]:
#Valor total - bruto: 418
#Valor total - Sem Nulos: 331
test_dropna=test.dropna(subset=colunasSemCabine)
test_dropna.describe()

,PassageiroId,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,331.000000,331.000000,331.000000,331.000000,331.000000,331.000000
mean,1100.232628,2.141994,30.181269,0.483384,0.398792,40.982087
std,122.910180,0.846251,14.104573,0.875004,0.811582,61.228558
min,892.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,992.500000,1.000000,21.000000,0.000000,0.000000,8.050000
50%,1100.000000,2.000000,27.000000,0.000000,0.000000,16.000000
75%,1210.500000,3.000000,39.000000,1.000000,1.000000,40.633350
max,1307.000000,3.000000,76.000000,8.000000,6.000000,512.329200

In [32]:
#Valor total - bruto: 1309
#Valor total - Sem Nulos: 1043
join_dropna=join.dropna(subset=colunasSemCabine)
join_dropna.describe()

,PassageiroId,Classe,Idade,ParentesIrmao,ParentesFilhos,PassagemPreco
count,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000,1043.000000
mean,655.391179,2.209012,29.813202,0.504314,0.421860,36.603024
std,377.527036,0.840685,14.366254,0.913080,0.840655,55.753648
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,326.500000,1.000000,21.000000,0.000000,0.000000,8.050000
50%,662.000000,2.000000,28.000000,0.000000,0.000000,15.750000
75%,973.500000,3.000000,39.000000,1.000000,1.000000,35.077100
max,1307.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Balanceamento

### Qual a quantidade de sobreviventes nos dados de treino?

In [33]:
train.groupby('Sobreviventes').size()

Sobreviventes
0    549
1    342
dtype: int64

### Qual a quantidade de sobreviventes nos dados de treino sem os campos nulos?

In [34]:
train_dropna.groupby('Sobreviventes').size()

Sobreviventes
0    424
1    288
dtype: int64

### Existe algum porto de embarque que sobreviveu mais pessoas ou todos sobreviveram por não embarcar?

In [35]:
### Resposta: Não
train.groupby(['Sobreviventes','PortoEmbarque']).size()

Sobreviventes  PortoEmbarque
0              C                 75
               Q                 47
               S                427
1              C                 93
               Q                 30
               S                217
dtype: int64

### Quem tinha filhos sobreviveu mais do que morreu?

In [36]:
### Resposta: Não. Mas que não tinha filhos morreu mais e ninguem sobreviveu que tinha 4 e 6 parentes.
### 4 e 6 = 0 = Morreu
### 0,1,2,3,5 = 1 = Talvez
train.groupby(['Sobreviventes','ParentesFilhos','Sexo','Classe']).size()

Sobreviventes  ParentesFilhos  Sexo    Classe
0              0               female  1           1
                                       2           5
                                       3          35
                               male    1          63
                                       2          81
                                       3         260
               1               female  2           1
                                       3          13
                               male    1          10
                                       2           7
                                       3          22
               2               female  1           2
                                       3          17
                               male    1           3
                                       2           3
                                       3          15
               3               female  3           1
                               male    3           1
               4               female  3           2
                               male    1           1
                                       3           1
               5               female  3           3
                               male    3           1
               6               female  3           1
1              0               female  1          63
                                       2          40
                                       3          50
                               male    1          36
                                       2           8
                                       3          36
               1               female  1          17
                                       2          17
                                       3          12
                               male    1           4
                                       2           7
                                       3           8
               2               female  1          11
                                       2          11
                                       3           8
                               male    1           5
                                       2           2
                                       3           3
               3               female  2           2
                                       3           1
               5               female  3           1
dtype: int64

### Existem nos dados teste pessoas que tem mais que 6 filhos?

In [37]:
### Sim 9. 
test.groupby(['ParentesFilhos']).size()

ParentesFilhos
0    324
1     52
2     33
3      3
4      2
5      1
6      1
9      2
dtype: int64

### Quem tinhas mais parentes sobreviveu?

In [38]:
### Resposta: Não. Mas que não tinha parantes morreu mais e ninguem sobreviveu que tinha 5,6,7,8 parentes.
### 5,6,7,8   = 0 = Morreu
### 0,1,2.3,4   = 1 = Talvez
train.groupby(['Sobreviventes','ParentesIrmao']).size()

Sobreviventes  ParentesIrmao
0              0                398
               1                 97
               2                 15
               3                 12
               4                 15
               5                  5
               8                  7
1              0                210
               1                112
               2                 13
               3                  4
               4                  3
dtype: int64

### Existem nos dados teste pessoas que tem mais que 8 parentes?

In [39]:
### Não.
test.groupby(['ParentesIrmao']).size()

ParentesIrmao
0    283
1    110
2     14
3      4
4      4
5      1
8      2
dtype: int64

### Sobreviveu mais mulheres ou homens?

In [40]:
### Resposta: Sobreviveu mais mulheres e morreu menos mulheres.
train.groupby(['Sobreviventes','Sexo']).size()

Sobreviventes  Sexo
0              female     81
               male      468
1              female    233
               male      109
dtype: int64

### Existem pessoas com mesmo número de passagem?

In [41]:
### Resposta: Sim
mesmo_numero_passagem=train.groupby(['Sobreviventes','PassagemNumero']).size()
mesmo_numero_passagem

Sobreviventes  PassagemNumero
0              110413               1
               110465               2
               111240               1
               111320               1
               112050               1
               112052               1
               112058               1
               112059               1
               112379               1
               113028               1
               113043               1
               113050               1
               113051               1
               113056               1
               113059               1
               113501               1
               113503               1
               113509               1
               113510               1
               113514               1
               113767               1
               113773               1
               113776               1
               113781               2
               113784               1
               113787               1
               113789               1
               113792               1
               113796               1
               113798               1
                                   ..
1              PC 17755             3
               PC 17756             1
               PC 17757             3
               PC 17758             1
               PC 17759             1
               PC 17760             2
               PC 17761             1
               PP 9549              2
               S.C./PARIS 2079      1
               S.W./PP 752          1
               SC 1748              1
               SC/AH 3085           1
               SC/AH Basle 541      1
               SC/PARIS 2146        1
               SC/PARIS 2149        1
               SC/Paris 2123        2
               SO/C 14885           1
               SOTON/O.Q. 392078    1
               SOTON/OQ 392089      1
               STON/O 2. 3101269    1
               STON/O 2. 3101285    1
               STON/O 2. 3101286    1
               STON/O 2. 3101288    1
               STON/O 2. 3101289    1
               STON/O2. 3101279     1
               STON/O2. 3101282     1
               STON/O2. 3101283     1
               SW/PP 751            1
               W./C. 14258          1
               WE/P 5735            1
Length: 730, dtype: int64

### As pessoas com mesmo número de passagem sobreviveram?

In [42]:
### Resposta: Não
df_mesmo_numero_passagem = pd.DataFrame({'Sobreviventes':mesmo_numero_passagem.index.get_level_values(0),'Passagem':mesmo_numero_passagem.index.get_level_values(1), 'PassagemQuantidade':mesmo_numero_passagem.values})
df_mesmo_numero_passagem.groupby(['Sobreviventes','PassagemQuantidade']).size()

Sobreviventes  PassagemQuantidade
0              1                     428
               2                      29
               3                       3
               4                       3
               5                       2
               6                       3
               7                       2
1              1                     195
               2                      52
               3                      10
               4                       2
               5                       1
dtype: int64

### Existem pessoas na mesma cabine?

In [43]:
### Resposta: Sim
mesma_cabine=train.groupby(['Sobreviventes','Cabine']).size()
mesma_cabine

Sobreviventes  Cabine
0              A10            1
               A14            1
               A19            1
               A24            1
               A32            1
               A36            1
               A5             1
               A7             1
               B102           1
               B19            1
               B22            1
               B30            1
               B37            1
               B38            1
               B51 B53 B55    1
               B58 B60        1
               B71            1
               B82 B84        1
               B86            1
               B94            1
               C110           1
               C111           1
               C118           1
               C123           1
               C124           2
               C128           1
               C2             1
               C22 C26        2
               C23 C25 C27    2
               C30            1
                             ..
1              D36            2
               D37            1
               D45            1
               D47            1
               D49            1
               D56            1
               D7             1
               D9             1
               E10            1
               E101           3
               E12            1
               E121           2
               E17            1
               E24            2
               E25            2
               E33            2
               E34            1
               E36            1
               E40            1
               E44            1
               E49            1
               E50            1
               E67            1
               E68            1
               E8             2
               F E69          1
               F2             2
               F33            3
               F4             2
               G6             2
Length: 163, dtype: int64

### As pessoas na mesma cabine sobreviveram?

In [44]:
### Resposta: Não
df_mesma_cabine = pd.DataFrame({'Sobreviventes':mesma_cabine.index.get_level_values(0),'Cabine':mesma_cabine.index.get_level_values(1), 'CabineQuantidade':mesma_cabine.values})
df_mesma_cabine.groupby(['Sobreviventes','CabineQuantidade']).size()

Sobreviventes  CabineQuantidade
0              1                   56
               2                    6
1              1                   70
               2                   28
               3                    2
               4                    1
dtype: int64

### Qual a idade das pessoas que sobreviveram e morreram?

In [45]:
print_full(train.groupby(['Sobreviventes','Idade']).size())

Sobreviventes  Idade
0              1.00      2
               2.00      7
               3.00      1
               4.00      3
               6.00      1
               7.00      2
               8.00      2
               9.00      6
               10.00     2
               11.00     3
               14.00     3
               14.50     1
               15.00     1
               16.00    11
               17.00     7
               18.00    17
               19.00    16
               20.00    12
               20.50     1
               21.00    19
               22.00    16
               23.00    10
               23.50     1
               24.00    15
               24.50     1
               25.00    17
               26.00    12
               27.00     7
               28.00    18
               28.50     2
               29.00    12
               30.00    15
               30.50     2
               31.00     9
               32.00     9
               32.50     1
               33.00     9
               34.00     9
               34.50     1
               35.00     7
               36.00    11
               36.50     1
               37.00     5
               38.00     6
               39.00     9
               40.00     7
               40.50     2
               41.00     4
               42.00     7
               43.00     4
               44.00     6
               45.00     7
               45.50     2
               46.00     3
               47.00     8
               48.00     3
               49.00     2
               50.00     5
               51.00     5
               52.00     3
               54.00     5
               55.00     1
               55.50     1
               56.00     2
               57.00     2
               58.00     2
               59.00     2
               60.00     2
               61.00     3
               62.00     2
               64.00     2
               65.00     3
               66.00     1
               70.00     2
               70.50     1
               71.00     2
               74.00     1
1              0.42      1
               0.67      1
               0.75      2
               0.83      2
               0.92      1
               1.00      5
               2.00      3
               3.00      5
               4.00      7
               5.00      4
               6.00      2
               7.00      1
               8.00      2
               9.00      2
               11.00     1
               12.00     1
               13.00     2
               14.00     3
               15.00     4
               16.00     6
               17.00     6
               18.00     9
               19.00     9
               20.00     3
               21.00     5
               22.00    11
               23.00     5
               24.00    15
               25.00     6
               26.00     6
               27.00    11
               28.00     7
               29.00     8
               30.00    10
               31.00     8
               32.00     9
               32.50     1
               33.00     6
               34.00     6
               35.00    11
               36.00    11
               37.00     1
               38.00     5
               39.00     5
               40.00     6
               41.00     2
               42.00     6
               43.00     1
               44.00     3
               45.00     5
               47.00     1
               48.00     6
               49.00     4
               50.00     5
               51.00     2
               52.00     3
               53.00     1
               54.00     3
               55.00     1
               56.00     2
               58.00     3
               60.00     2
               62.00     2
               63.00     2
               80.00     1
dtype: int64

### Qual a menor/maior idade que um homem e mulher morreu/sobreviveu?

In [46]:
### Respostas:
### Menor Mulher Morreu: 2 anos
### Menor Mulher Sobreviveu: 7 meses

### Menor Homem Morreu: 1 ano
### Menor Homem Sobreviveu: 4 meses


### Maior Mulher Morreu: 57 anos
### Maior Mulher Sobreviveu: 63 anos

### Maior Homem Morreu: 74 anos
### Maior Homem Sobreviveu: 80 anos
print_full(train.groupby(['Sobreviventes','Idade','Sexo']).size())

Sobreviventes  Idade  Sexo
0              1.00   male       2
               2.00   female     4
                      male       3
               3.00   female     1
               4.00   male       3
               6.00   female     1
               7.00   male       2
               8.00   female     1
                      male       1
               9.00   female     4
                      male       2
               10.00  female     1
                      male       1
               11.00  female     1
                      male       2
               14.00  female     1
                      male       2
               14.50  female     1
               15.00  male       1
               16.00  female     1
                      male      10
               17.00  female     1
                      male       6
               18.00  female     5
                      male      12
               19.00  male      16
               20.00  female     2
                      male      10
               20.50  male       1
               21.00  female     3
                      male      16
               22.00  female     2
                      male      14
               23.00  female     1
                      male       9
               23.50  male       1
               24.00  female     2
                      male      13
               24.50  male       1
               25.00  female     3
                      male      14
               26.00  female     2
                      male      10
               27.00  female     1
                      male       6
               28.00  female     2
                      male      16
               28.50  male       2
               29.00  female     2
                      male      10
               30.00  female     2
                      male      13
               30.50  female     1
                      male       1
               31.00  female     2
                      male       7
               32.00  female     1
                      male       8
               32.50  male       1
               33.00  male       9
               34.00  male       9
               34.50  male       1
               35.00  male       7
               36.00  male      11
               36.50  male       1
               37.00  female     1
                      male       4
               38.00  female     1
                      male       5
               39.00  female     2
                      male       7
               40.00  female     1
                      male       6
               40.50  male       2
               41.00  female     2
                      male       2
               42.00  male       7
               43.00  female     1
                      male       3
               44.00  female     1
                      male       5
               45.00  female     3
                      male       4
               45.50  male       2
               46.00  male       3
               47.00  female     1
                      male       7
               48.00  female     1
                      male       2
               49.00  male       2
               50.00  female     1
                      male       4
               51.00  male       5
               52.00  male       3
               54.00  male       5
               55.00  male       1
               55.50  male       1
               56.00  male       2
               57.00  female     1
                      male       1
               58.00  male       2
               59.00  male       2
               60.00  male       2
               61.00  male       3
               62.00  male       2
               64.00  male       2
               65.00  male       3
               66.00  male       1
               70.00  male       2
               70.50  male       1
               71.00  male       2
               74.00  male       1
1              0.42   male       1
               0.67   male       1
               0.75   female     2
               0.83   male       2
               0.92   male       1
               1.00   female     2
                      male       3
               2.00   female     2
                      male       1
               3.00   female     1
                      male       4
               4.00   female     5
                      male       2
               5.00   female     4
               6.00   female     1
                      male       1
               7.00   female     1
               8.00   female     1
                      male       1
               9.00   male       2
               11.00  male       1
               12.00  male       1
               13.00  female     2
               14.00  female     3
               15.00  female     4
               16.00  female     5
                      male       1
               17.00  female     5
                      male       1
               18.00  female     8
                      male       1
               19.00  female     7
                      male       2
               20.00  male       3
               21.00  female     4
                      male       1
               22.00  female    10
                      male       1
               23.00  female     4
                      male       1
               24.00  female    14
                      male       1
               25.00  female     2
                      male       4
               26.00  female     3
                      male       3
               27.00  female     5
                      male       6
               28.00  female     5
                      male       2
               29.00  female     5
                      male       3
               30.00  female     9
                      male       1
               31.00  female     5
                      male       3
               32.00  female     2
                      male       7
               32.50  female     1
               33.00  female     6
               34.00  female     4
                      male       2
               35.00  female     8
                      male       3
               36.00  female     7
                      male       4
               37.00  male       1
               38.00  female     4
                      male       1
               39.00  female     4
                      male       1
               40.00  female     5
                      male       1
               41.00  female     2
               42.00  female     3
                      male       3
               43.00  female     1
               44.00  female     2
                      male       1
               45.00  female     3
                      male       2
               47.00  female     1
               48.00  female     3
                      male       3
               49.00  female     2
                      male       2
               50.00  female     4
                      male       1
               51.00  female     1
                      male       1
               52.00  female     2
                      male       1
               53.00  female     1
               54.00  female     3
               55.00  female     1
               56.00  female     1
                      male       1
               58.00  female     3
               60.00  female     1
                      male       1
               62.00  female     1
                      male       1
               63.00  female     2
               80.00  male       1
dtype: int64

### Qual a menor/maior preço de passagem de quem morreu/sobreviveu pagou?

In [51]:
### Respostas:
### Sobrevieveu maior: 512
### Sobrevieveu menor: 0
### Morreu maior menor: 263 
### Morreu maior maior: 0 
print_full(train.groupby(['Sobreviventes','PassagemPreco']).size())

Sobreviventes  PassagemPreco
0              0.0000           14
               4.0125            1
               5.0000            1
               6.2375            1
               6.4375            1
               6.4500            1
               6.4958            2
               6.7500            2
               6.8583            1
               6.9500            1
               6.9750            1
               7.0458            1
               7.0500            7
               7.0542            2
               7.1250            4
               7.2250            9
               7.2292           11
               7.2500           12
               7.3125            1
               7.4958            2
               7.5208            1
               7.5500            3
               7.6292            1
               7.6500            3
               7.7250            1
               7.7292            1
               7.7333            2
               7.7375            1
               7.7417            1
               7.7500           22
               7.7750           13
               7.7958            4
               7.8000            1
               7.8292            1
               7.8542           10
               7.8750            1
               7.8875            1
               7.8958           37
               7.9250           10
               8.0500           38
               8.1375            1
               8.1583            1
               8.3000            1
               8.3625            1
               8.4042            1
               8.4333            1
               8.4583            1
               8.6542            1
               8.6625           12
               8.7125            1
               8.8500            1
               9.0000            2
               9.2167            1
               9.2250            2
               9.3500            1
               9.4750            1
               9.4833            1
               9.5000            7
               9.5875            1
               9.8250            2
               9.8375            1
               9.8458            1
               10.1708           1
               10.4625           2
               10.5000          15
               10.5167           1
               11.5000           4
               12.2750           1
               12.3500           1
               12.5250           1
               12.8750           1
               13.0000          26
               13.5000           3
               14.0000           1
               14.1083           1
               14.4000           2
               14.4542           6
               14.4583           3
               14.5000           5
               15.0000           1
               15.0458           1
               15.0500           1
               15.1000           1
               15.2458           2
               15.5000           5
               15.5500           1
               15.8500           2
               16.1000           7
               17.8000           2
               18.0000           3
               18.7875           1
               19.9667           2
               20.2125           2
               20.2500           1
               20.5250           1
               20.5750           1
               21.0000           4
               21.0750           4
               21.6792           1
               22.5250           1
               23.4500           2
               24.0000           1
               24.1500           7
               25.4667           4
               25.5875           1
               25.9250           1
               26.0000          16
               26.2500           2
               26.5500           7
               27.0000           1
               27.7208           4
               27.7500           2
               27.9000           6
               28.5000           1
               28.7125           1
               29.1250           5
               29.7000           2
               30.0000           1
               30.0708           1
               30.5000           1
               30.6958           2
               31.0000           1
               31.2750           7
               31.3875           1
               32.3208           1
               33.0000           1
               33.5000           1
               34.0208           1
               34.3750           4
               34.6542           1
               35.0000           1
               35.5000           1
               36.7500           1
               37.0042           1
               38.5000           1
               39.0000           1
               39.6000           1
               39.6875           6
               40.1250           1
               41.5792           1
               42.4000           1
               46.9000           6
               47.1000           1
               49.5042           1
               50.0000           1
               50.4958           1
               51.8625           1
               52.0000           4
               53.1000           2
               55.9000           1
               56.4958           2
               61.1750           1
               61.3792           1
               61.9792           1
               66.6000           1
               69.5500           7
               71.0000           1
               73.5000           5
               77.2875           2
               78.8500           1
               79.2000           2
               79.6500           1
               82.1708           1
               83.4750           1
               90.0000           1
               106.4250          1
               108.9000          1
               110.8833          1
               113.2750          1
               135.6333          1
               151.5500          2
               153.4625          1
               211.5000          1
               221.7792          1
               227.5250          1
               247.5208          1
               263.0000          2
1              0.0000            1
               6.9750            1
               7.1417            1
               7.2250            3
               7.2292            4
               7.2500            1
               7.4958            1
               7.5500            1
               7.6500            1
               7.7333            2
               7.7375            1
               7.7500           12
               7.7750            3
               7.7875            1
               7.7958            2
               7.8292            1
               7.8542            3
               7.8792            4
               7.8958            1
               7.9250            8
               8.0292            1
               8.0500            5
               8.1125            1
               8.5167            1
               8.6625            1
               8.6833            1
               9.3500            1
               9.5000            2
               9.5875            1
               9.8417            1
               10.5000           9
               11.1333           3
               11.2417           2
               12.0000           1
               12.2875           1
               12.3500           2
               12.4750           4
               12.6500           1
               13.0000          16
               13.4167           1
               13.5000           1
               13.7917           1
               13.8583           1
               13.8625           1
               14.4542           1
               14.5000           2
               15.2458           3
               15.5000           3
               15.7417           2
               15.7500           1
               15.8500           2
               15.9000           2
               16.0000           1
               16.1000           2
               16.7000           2
               17.4000           1
               18.7500           3
               18.7875           1
               19.2583           4
               19.5000           2
               20.2500           1
               20.5250           2
               20.5750           1
               21.0000           2
               22.0250           1
               22.3583           2
               23.0000           4
               23.2500           2
               24.0000           1
               24.1500           1
               25.9292           2
               26.0000          15
               26.2500           4
               26.2833           1
               26.2875           3
               26.3875           1
               26.5500           8
               27.0000           1
               27.7208           1
               27.7500           2
               29.0000           2
               29.7000           1
               30.0000           5
               30.0708           1
               30.5000           4
               31.0000           2
               31.3875           3
               32.5000           1
               33.0000           2
               35.5000           3
               36.7500           1
               37.0042           1
               39.0000           3
               39.4000           1
               39.6000           1
               41.5792           2
               49.5000           1
               49.5042           1
               51.4792           1
               51.8625           1
               52.0000           3
               52.5542           3
               53.1000           3
               55.0000           2
               55.4417           1
               55.9000           1
               56.4958           5
               56.9292           2
               57.0000           2
               57.9792           2
               59.4000           1
               63.3583           1
               65.0000           2
               66.6000           1
               69.3000           2
               71.0000           1
               71.2833           1
               75.2500           1
               76.2917           1
               76.7292           3
               77.9583           3
               78.2667           2
               78.8500           1
               79.2000           2
               79.6500           2
               80.0000           2
               81.8583           1
               82.1708           1
               83.1583           3
               83.4750           1
               86.5000           3
               89.1042           2
               90.0000           3
               91.0792           2
               93.5000           2
               106.4250          1
               108.9000          1
               110.8833          3
               113.2750          2
               120.0000          4
               133.6500          2
               134.5000          2
               135.6333          2
               146.5208          2
               151.5500          2
               153.4625          2
               164.8667          2
               211.3375          3
               227.5250          3
               247.5208          1
               262.3750          2
               263.0000          2
               512.3292          3
dtype: int64

### Existe uma classe que sobreviveu ou morreu todos?

In [55]:
### Resposta: Não
train.groupby(['Sobreviventes','Classe']).size()

Sobreviventes  Classe
0              1          80
               2          97
               3         372
1              1         136
               2          87
               3         119
dtype: int64

### Existe alguma classe que só homem ou mulher sobreviveram/morreram?

In [57]:
### Resposta: Não
train.groupby(['Sobreviventes','Classe','Sexo']).size()

Sobreviventes  Classe  Sexo
0              1       female      3
                       male       77
               2       female      6
                       male       91
               3       female     72
                       male      300
1              1       female     91
                       male       45
               2       female     70
                       male       17
               3       female     72
                       male       47
dtype: int64

### Existem nomes duplicados?

In [59]:
### Resposta: Não
print_full(train.groupby(['Nome']).size())

Nome
Abbing, Mr. Anthony                                                                   1
Abbott, Mr. Rossmore Edward                                                           1
Abbott, Mrs. Stanton (Rosa Hunt)                                                      1
Abelson, Mr. Samuel                                                                   1
Abelson, Mrs. Samuel (Hannah Wizosky)                                                 1
Adahl, Mr. Mauritz Nils Martin                                                        1
Adams, Mr. John                                                                       1
Ahlin, Mrs. Johan (Johanna Persdotter Larsson)                                        1
Aks, Mrs. Sam (Leah Rosen)                                                            1
Albimona, Mr. Nassef Cassem                                                           1
Alexander, Mr. William                                                                1
Alhomaki, Mr. Ilmari Rudolf                                                           1
Ali, Mr. Ahmed                                                                        1
Ali, Mr. William                                                                      1
Allen, Miss. Elisabeth Walton                                                         1
Allen, Mr. William Henry                                                              1
Allison, Master. Hudson Trevor                                                        1
Allison, Miss. Helen Loraine                                                          1
Allison, Mrs. Hudson J C (Bessie Waldo Daniels)                                       1
Allum, Mr. Owen George                                                                1
Andersen-Jensen, Miss. Carla Christine Nielsine                                       1
Anderson, Mr. Harry                                                                   1
Andersson, Master. Sigvard Harald Elias                                               1
Andersson, Miss. Ebba Iris Alfrida                                                    1
Andersson, Miss. Ellis Anna Maria                                                     1
Andersson, Miss. Erna Alexandra                                                       1
Andersson, Miss. Ingeborg Constanzia                                                  1
Andersson, Miss. Sigrid Elisabeth                                                     1
Andersson, Mr. Anders Johan                                                           1
Andersson, Mr. August Edvard ("Wennerstrom")                                          1
Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)                             1
Andreasson, Mr. Paul Edvin                                                            1
Andrew, Mr. Edgardo Samuel                                                            1
Andrews, Miss. Kornelia Theodosia                                                     1
Andrews, Mr. Thomas Jr                                                                1
Angle, Mrs. William A (Florence "Mary" Agnes Hughes)                                  1
Appleton, Mrs. Edward Dale (Charlotte Lamson)                                         1
Arnold-Franchi, Mr. Josef                                                             1
Arnold-Franchi, Mrs. Josef (Josefine Franchi)                                         1
Artagaveytia, Mr. Ramon                                                               1
Asim, Mr. Adola                                                                       1
Asplund, Master. Clarence Gustaf Hugo                                                 1
Asplund, Master. Edvin Rojj Felix                                                     1
Asplund, Miss. Lillian Gertrud                                                        1
Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)                             1
Astor, Mrs. John Jacob (Madeleine Talmadge Force)                                     1
Attalah, Miss. Malake                                                                 1
Attalah, Mr. Sleiman                                                                  1
Aubart, Mme. Leontine Pauline                                                         1
Augustsson, Mr. Albert                                                                1
Ayoub, Miss. Banoura                                                                  1
Backstrom, Mr. Karl Alfred                                                            1
Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)                               1
Baclini, Miss. Eugenie                                                                1
Baclini, Miss. Helene Barbara                                                         1
Baclini, Miss. Marie Catherine                                                        1
Baclini, Mrs. Solomon (Latifa Qurban)                                                 1
Badt, Mr. Mohamed                                                                     1
Bailey, Mr. Percy Andrew                                                              1
Balkic, Mr. Cerin                                                                     1
Ball, Mrs. (Ada E Hall)                                                               1
Banfield, Mr. Frederick James                                                         1
Barah, Mr. Hanna Assi                                                                 1
Barbara, Miss. Saiide                                                                 1
Barbara, Mrs. (Catherine David)                                                       1
Barber, Miss. Ellen "Nellie"                                                          1
Barkworth, Mr. Algernon Henry Wilson                                                  1
Barton, Mr. David John                                                                1
Bateman, Rev. Robert James                                                            1
Baumann, Mr. John D                                                                   1
Baxter, Mr. Quigg Edmond                                                              1
Baxter, Mrs. James (Helene DeLaudeniere Chaput)                                       1
Bazzani, Miss. Albina                                                                 1
Beane, Mr. Edward                                                                     1
Beane, Mrs. Edward (Ethel Clarke)                                                     1
Beavan, Mr. William Thomas                                                            1
Becker, Master. Richard F                                                             1
Becker, Miss. Marion Louise                                                           1
Beckwith, Mr. Richard Leonard                                                         1
Beckwith, Mrs. Richard Leonard (Sallie Monypeny)                                      1
Beesley, Mr. Lawrence                                                                 1
Behr, Mr. Karl Howell                                                                 1
Bengtsson, Mr. John Viktor                                                            1
Berglund, Mr. Karl Ivar Sven                                                          1
Berriman, Mr. William John                                                            1
Betros, Mr. Tannous                                                                   1
Bidois, Miss. Rosalie                                                                 1
Bing, Mr. Lee                                                                         1
Birkeland, Mr. Hans Martin Monsen                                                     1
Bishop, Mr. Dickinson H                                                               1
Bishop, Mrs. Dickinson H (Helen Walton)                                               1
Bissette, Miss. Amelia                                                                1
Bjornstrom-Steffansson, Mr. Mauritz Hakan                                             1
Blackwell, Mr. Stephen Weart                                                          1
Blank, Mr. Henry                                                                      1
Bonnell, Miss. Elizabeth                                                              1
Bostandyeff, Mr. Guentcho                                                             1
Boulos, Miss. Nourelain                                                               1
Boulos, Mr. Hanna                                                                     1
Boulos, Mrs. Joseph (Sultana)                                                         1
Bourke, Miss. Mary                                                                    1
Bourke, Mr. John                                                                      1
Bourke, Mrs. John (Catherine)                                                         1
Bowen, Mr. David John "Dai"                                                           1
Bowerman, Miss. Elsie Edith                                                           1
Bracken, Mr. James H                                                                  1
Bradley, Mr. George ("George Arthur Brayton")                                         1
Braund, Mr. Lewis Richard                                                             1
Braund, Mr. Owen Harris                                                               1
Brewe, Dr. Arthur Jackson                                                             1
Brocklebank, Mr. William Alfred                                                       1
Brown, Miss. Amelia "Mildred"                                                         1
Brown, Mr. Thomas William Solomon                                                     1
Brown, Mrs. James Joseph (Margaret Tobin)                                             1
Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)                         1
Bryhl, Mr. Kurt Arnold Gottfrid                                                       1
Burke, Mr. Jeremiah                                                                   1
Burns, Miss. Elizabeth Margaret                                                       1
Buss, Miss. Kate                                                                      1
Butler, Mr. Reginald Fenton                                                           1
Butt, Major. Archibald Willingham                                                     1
Byles, Rev. Thomas Roussel Davids                                                     1
Bystrom, Mrs. (Karolina)                                                              1
Cacic, Miss. Marija                                                                   1
Cacic, Mr. Luka                                                                       1
Cairns, Mr. Alexander                                                                 1
Calderhead, Mr. Edward Pennington                                                     1
Caldwell, Master. Alden Gates                                                         1
Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)                                   1
Calic, Mr. Jovo                                                                       1
Calic, Mr. Petar                                                                      1
Cameron, Miss. Clear Annie                                                            1
Campbell, Mr. William                                                                 1
Canavan, Miss. Mary                                                                   1
Cann, Mr. Ernest Charles                                                              1
Caram, Mrs. Joseph (Maria Elias)                                                      1
Carbines, Mr. William                                                                 1
Cardeza, Mr. Thomas Drake Martinez                                                    1
Carlsson, Mr. August Sigfrid                                                          1
Carlsson, Mr. Frans Olof                                                              1
Carr, Miss. Helen "Ellen"                                                             1
Carrau, Mr. Francisco M                                                               1
Carter, Master. William Thornton II                                                   1
Carter, Miss. Lucile Polk                                                             1
Carter, Mr. William Ernest                                                            1
Carter, Mrs. Ernest Courtenay (Lilian Hughes)                                         1
Carter, Mrs. William Ernest (Lucile Polk)                                             1
Carter, Rev. Ernest Courtenay                                                         1
Cavendish, Mr. Tyrell William                                                         1
Celotti, Mr. Francesco                                                                1
Chaffee, Mr. Herbert Fuller                                                           1
Chambers, Mr. Norman Campbell                                                         1
Chambers, Mrs. Norman Campbell (Bertha Griggs)                                        1
Chapman, Mr. Charles Henry                                                            1
Chapman, Mr. John Henry                                                               1
Charters, Mr. David                                                                   1
Cherry, Miss. Gladys                                                                  1
Chibnall, Mrs. (Edith Martha Bowerman)                                                1
Chip, Mr. Chang                                                                       1
Christmann, Mr. Emil                                                                  1
Christy, Miss. Julie Rachel                                                           1
Chronopoulos, Mr. Apostolos                                                           1
Clarke, Mrs. Charles V (Ada Maria Winfield)                                           1
Cleaver, Miss. Alice                                                                  1
Clifford, Mr. George Quincy                                                           1
Coelho, Mr. Domingos Fernandeo                                                        1
Cohen, Mr. Gurshon "Gus"                                                              1
Coleff, Mr. Peju                                                                      1
Coleff, Mr. Satio                                                                     1
Coleridge, Mr. Reginald Charles                                                       1
Collander, Mr. Erik Gustaf                                                            1
Colley, Mr. Edward Pomeroy                                                            1
Collyer, Miss. Marjorie "Lottie"                                                      1
Collyer, Mr. Harvey                                                                   1
Collyer, Mrs. Harvey (Charlotte Annie Tate)                                           1
Compton, Miss. Sara Rebecca                                                           1
Connaghton, Mr. Michael                                                               1
Connolly, Miss. Kate                                                                  1
Connors, Mr. Patrick                                                                  1
Cook, Mr. Jacob                                                                       1
Cor, Mr. Liudevit                                                                     1
Corn, Mr. Harry                                                                       1
Coutts, Master. Eden Leslie "Neville"                                                 1
Coutts, Master. William Loch "William"                                                1
Coxon, Mr. Daniel                                                                     1
Crease, Mr. Ernest James                                                              1
Cribb, Mr. John Hatfield                                                              1
Crosby, Capt. Edward Gifford                                                          1
Crosby, Miss. Harriet R                                                               1
Culumovic, Mr. Jeso                                                                   1
Cumings, Mrs. John Bradley (Florence Briggs Thayer)                                   1
Cunningham, Mr. Alfred Fleming                                                        1
Dahl, Mr. Karl Edwart                                                                 1
Dahlberg, Miss. Gerda Ulrika                                                          1
Dakic, Mr. Branko                                                                     1
Daly, Mr. Eugene Patrick                                                              1
Daly, Mr. Peter Denis                                                                 1
Danbom, Mr. Ernst Gilbert                                                             1
Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)                                1
Daniel, Mr. Robert Williams                                                           1
Danoff, Mr. Yoto                                                                      1
Dantcheff, Mr. Ristiu                                                                 1
Davidson, Mr. Thornton                                                                1
Davies, Master. John Morgan Jr                                                        1
Davies, Mr. Alfred J                                                                  1
Davies, Mr. Charles Henry                                                             1
Davis, Miss. Mary                                                                     1
Davison, Mrs. Thomas Henry (Mary E Finck)                                             1
Dean, Master. Bertram Vere                                                            1
Dean, Mr. Bertram Frank                                                               1
Denkoff, Mr. Mitto                                                                    1
Dennis, Mr. Samuel                                                                    1
Devaney, Miss. Margaret Delia                                                         1
Dick, Mr. Albert Adrian                                                               1
Dick, Mrs. Albert Adrian (Vera Gillespie)                                             1
Dimic, Mr. Jovan                                                                      1
Dodge, Master. Washington                                                             1
Doharr, Mr. Tannous                                                                   1
Doling, Miss. Elsie                                                                   1
Doling, Mrs. John T (Ada Julia Bone)                                                  1
Dooley, Mr. Patrick                                                                   1
Dorking, Mr. Edward Arthur                                                            1
Douglas, Mr. Walter Donald                                                            1
Dowdell, Miss. Elizabeth                                                              1
Downton, Mr. William James                                                            1
Drazenoic, Mr. Jozef                                                                  1
Drew, Mrs. James Vivian (Lulu Thorne Christian)                                       1